* {
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: ubuntu;
}

body {
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
  background-color: rgb(15, 15, 15);
}

#create-account-form {
  width:400px;
  padding:20px;
  color: #fff;
  background-color: rgb(37, 36, 36);
 
}

.title {
  margin-bottom: 20px;
}

.input-group {
  margin:20px 0; 
  position:relative;
}

.input-group label {
  display:inline-block;
  margin-bottom: 5px;
  color:rgb(201, 200, 200);
}

.input-group input {
  display:block;
  width:100%;
  padding:10px;   
  border: 1px solid rgb(58, 58, 58);
  background-color: rgb(58, 58, 58);
  color: #fff;
}

.error input {
  border:3px red solid;
}

.success input {
  border:3px green solid;
}

.input-group i {
   position:absolute;
   right:10px;
   top:35px;
   visibility: hidden;
}


.success i.fa-check-circle{
   visibility: visible;
   color:green;
}

.error i.fa-exclamation-circle {
  visibility: visible;
  color:red;
}


.input-group p {
   font-size: 15px;
   color:red;
   visibility: hidden;
}

.error p {
   visibility: visible;
}

.btn {
   width:100%;
   padding:10px;
   font-size: 20px;
   background-color: #40CB99;
   color:#fff;
   border:none;
}
h2{
   color: #fff;
}
  a{
    text-decoration: none;
    
  }